@import "variables.module";
h1{
    font-size: 36px;
    font-weight: 500;
    @media (min-width: 768px){
        font-size: 50px;
        font-weight: 400;
    }
    @media (min-width: 1440px){
        font-size: 60px;
        font-weight: 400;
    }
}
h2{
    font-size: 30px;
    font-weight: 500;
    @media (min-width: 768px){
        font-size: 36px;

    }
}
h3{
    font-size: 26px;
    font-weight: 500;
    color: $fc2;
    @media (min-width: 768px){
        font-size: 30px;

    }
}
b{
    font-size: inherit;
    font-weight: inherit;
    color: $fc2;
}

.container {
    width: 100%;
    padding: 0 15px;
    @media (min-width: 768px){

    }
    @media (min-width: 1440px) {
        width: 1440px !important;
        margin: 0 auto;
    }
}
.header{
    text-align: center;
    padding: 30px 0 20px;
}
