@import "variables.module";
.homeContainer{
    position: relative;
    z-index: 2;
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        background: linear-gradient(180deg, rgba(0,17,36,0) 0%, rgba(32,26,65,0.4242647742690826) 86%, rgba(32,26,65,1) 100%);
        height:100%;
        z-index: -10;
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        background: url("../assets/bg.jpg") center/cover no-repeat;
        opacity: 0.3;
        height:100%;
        z-index: -11;
    }
}
.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @media (min-width: 991px) {
        flex-direction: row-reverse;
    }
}

.photoContainer {
    display: block;
    width: auto;
    max-width: 100%;
    flex: 1 0 auto;
    margin-bottom: 35px;
}

.header {
    padding: 150px 10% 40px;

    h1 {
        max-width: 250px;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
        max-width: 400px;
    }
    @media(max-width: 376px){
        padding: 110px 10% 40px;
    }
    @media (min-width: 768px) {
        padding: 25% 10% 40px;
        h1 {
            max-width: 300px;
        }
    }
    @media (min-width: 991px) {
        margin-top: -10%;
        padding: 0;
        align-self: center;
        justify-self: center;
        flex: 0 0 45%;
        h1 {

        }
        p {
            font-size: 18px;
            max-width: 350px;
        }
    }
    @media (min-width: 1440px){
        h1 {
            max-width: 350px;
        }
    }
}

.home {
    .elems {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
    }
    .spanText{
        display: block;
        position: absolute;
        writing-mode: vertical-lr;
        text-orientation: upright;
        max-width: 60px;
        width: 60px;
        height: 35%;
        top: 47%;
        right: 15%;
        z-index: -10;
        font-size: 36px;
        margin-right: -10px;
        margin-top: 15px;
        @media(min-width: 576px){
            margin-top: 35px;
        }
        @media(min-width: 768px){
            right: 25%;
        }
        @media(min-width: 991px){
            display: none;
        }
    }
    .span0 {
        display: block;
        background: rgba($color1, 0.5);
        width: 36%;
        max-width: 150px;
        height: 70%;
        position: absolute;
        top: 0;
        left: 13%;
        z-index: -10;
        border-radius: 0 0 200px 200px;
        box-shadow: 0 0 10px 0 lighten($color1,0.2);
    }
    .span1 {
        display: block;
        background: rgba($color3, 0.7);
        max-width: 50px;
        width: 7%;
        height: 45%;
        position: absolute;
        top: 22%;
        left: 53%;
        z-index: -10;
        border-radius: 100px;
        box-shadow: 0 0 10px 5px lighten($color3,0.2);
    }
    .span2 {
        display: block;
        background: rgba($color2, 0.7);
        max-width: 60px;
        width: 60px;
        height: 35%;
        position: absolute;
        top: 47%;
        right: 15%;
        z-index: -10;
        border-radius: 50px;
        box-shadow: 0 0 10px 0px lighten($color2,0.2);
    }
    .span3 {
        display: block;
        background: rgba($color1, 0.7);
        max-width: 20px;
        width: 4%;
        height: 65%;
        position: absolute;
        top: 0;
        right: 5%;
        z-index: -10;
        border-radius: 0 0 75px 75px;
        box-shadow: 0 0 10px 2px lighten($color1,0.2);

    }
    @media(min-width: 576px){
        .span1 {
            left: 40%;
        }
    }
    @media(min-width: 768px){
        .span2{
            right: 25%;
        }
        .span3{
            right: 10%;
        }
    }
    @media(min-width: 991px){
        .span0{
            max-width: 280px;
            left: 18%;
            width: 20%;
        }
        .span1{
            left: 11%;
            top: 0;
            border-radius: 0 0 60px 60px;
        }
        .span2{
            right: 53%;
            top: 0;
            border-radius: 0 0 60px 60px;
            height: 55%;
        }
        .span3{
            right: 50%;
            height: 80%;
        }
    }
}
@keyframes loop {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes chibi {
    0%{
        transform: rotate(5deg);
        left: 8%;
    }
    25%{
        transform: rotate(0deg);
        left: 4%;
    }
    50%{
        transform: rotate(-5deg);
        left: 0%;
    }
    75%{
        transform: rotate(0deg);
        left: 4%;
    }
    100%{
        transform: rotate(5deg);
        left: 8%;

    }
}

.photo{
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    .circle{
        flex: 0 0 50%;
        height: 50% ;
        position: absolute;
        left: 0;
        bottom: 0;
        animation: loop 20s linear infinite;
    }
    .chibi{
        flex: 0 0 50%;
        height: 60% ;
        position: absolute;
        left: 4%;
        top: 0;
        animation: chibi 5s infinite ease-out;
    }
    @media(min-width: 576px){
        margin-left: 10%;
    }
    @media(min-width: 991px){
        top: 35%;
        height: 65%;
        left: 17%;
    }
}